{{page-title "Customers"}}

<h1>Customers</h1>

{{#each @model as |customer|}}
<section>
     name: 
    <LinkTo @route="customer" @model={{customer.id}}>
       {{customer.name}}
    </LinkTo>
</section>
<br>
{{/each}}